<div class="box">
  <div class="aligner">
    <h3>
      Busqueda de Personas por Habilidad
    </h3>
  </div>
  <hr>
  <br>
  <div class="aligner col-md-10 col-md-offset-1">
    <div class="table-responsive">
      <div class="input-group input-group-lg">
      </div>
      <table class="table table-hover ability-search-results hidden col-md-10 col-md-offset-1">
        <thead>
          <th>
            Nombre
          </th>
          <th>
            Algo
          </th>
          <th>
            Acciones
          </th>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>

</div>
