<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12 text-center">
        <div id="carousel-example-generic" class="carousel slide">
          <ol class="carousel-indicators hidden-xs">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner">
            <div class="item active">
              <%= image_tag("slide-1.png", class: "img-responsive img-full") %>
            </div>
            <div class="item">
              <%= image_tag "slide-2.png",class: "img-responsive img-full" %>
            </div>
            <div class="item">
              <%= image_tag "slide-3.png",class: "img-responsive img-full" %>
            </div>
          </div>

          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="icon-prev"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="icon-next"></span>
          </a>
        </div>
        <h2 class="brand-before">
          <small>Bienvenido</small>
        </h2>
        <h1 class="brand-name">Business Casual</h1>
        <hr class="tagline-divider">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Jublink
          <strong></strong>
        </h2>
        <hr class="visible-xs aligner">
        <p>
          15 de Junio es la fecha en que comienza el período de clasificación para optar por el dinero necesario para hacer nuestro proyecto realidad. Hacemos un llamado a todos nuestros usuarios a que corran la voz y nos ayuden a hacer crecer esta página.
          ¡Mientras más grande sea nuestra comunidad más opciones tendremos de ganar!
        </p>
        <p>
          Un cordial agradecimiento a quienes ya confían en nosotros

        </p>
        <p>
          Equipo Jublink

        </p>
      </div>
    </div>
  </div>

</div>
<script>
  $('.carousel').carousel({
    interval: 5000 //changes the speed
  })
</script>
