
<footer id="footer" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <br><br>
        © 2016
        <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>. All Rights Reserved.
      </div>
      <div class="col-md-6">
        <img class="pull-right" src="" alt="ShapeBootstrap" title="Nombre Empresa">
      </div>
    </div>
  </div>
</footer>
